.items-img {
    max-height: 500px;
    height: 500px;
}

.blue-border {
    border: 1px solid #8fcce0!important;
}

.td-name {
color: #A8A8A8;
font-size: 18px;
}

.td-spec {
    font-weight: bold;
    font-size: 18px;
}

.td-icon {
    font-size: 28px;
    color: #009dd1;
}