.product-lines-container {
  min-height: auto;
  padding-bottom: 30px;
}

.pl-first-cont img {
  width: 70%;
  height: 100%;
  margin-left: 20vh;
}

.product-lines-container1 {
  min-height: auto;
}

.product-lines-container2 {
  min-height: 520px;
}

.blue-square-first {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: 80%;
  background-color: #005a87;
}

.flex-container {
  display: flex;
  justify-content: flex-end;
}

.pl-second-cont img {
  width: 70%;
  height: 100%;
  margin-right: 20vh;
}

.blue-square-second {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: 80%;
  background-color: #005a87;
}

.pl-center-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
}

.h1-pl {
  font-size: 3.5rem;
  font-weight: 700;
  color: #fff;
}

.p-pl {
  color: #8fcce0;
  font-size: 1rem;
  line-height: 1.38;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.h5-pl a {
    color: white;
    text-decoration: none;
}

.bi-arrow-right {
    vertical-align: -0.125em;
}

@media (max-width: 1200px) {
  .blue-square-first {
    left: 30%;
    top: 120%;
    height: auto;
  }

  .product-lines-container1 {
    min-height: 600px;
  }

  .blue-square-second {
    left: 30%;
    top: 120%;
    height: auto;
  }

  .product-lines-container2 {
    min-height: 600px;
  }
}

@media (max-width: 991px) {
  .pl-first-cont img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .blue-square-first {
    left: 30%;
    top: 120%;
    height: auto;
    width: 40%;
  }

  .product-lines-container1 {
    min-height: 600px;
  }

  .pl-second-cont img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .blue-square-second {
    left: 30%;
    top: 120%;
    height: auto;
    width: 40%;
  }

  .product-lines-container2 {
    min-height: 600px;
  }
}

@media (max-width: 768px) {
  .blue-square-first {
    left: 26.5%;
    top: 150%;
    width: 50%;
  }

  .product-lines-container1 {
    min-height: 600px;
  }

  .blue-square-second {
    left: 26.5%;
    top: 150%;
    width: 50%;
  }

  .product-lines-container2 {
    min-height: 600px;
  }
}

@media (max-width: 543px) {
  .blue-square-first {
    left: 11%;
    top: 120%;
    width: 80%;
  }

  .product-lines-container1 {
    min-height: 400px;
  }

  .blue-square-second {
    left: 11%;
    top: 120%;
    width: 80%;
  }

  .product-lines-container2 {
    min-height: 450px;
  }
}

@media (max-width: 660px) {
  .lines-image-text {
    font-size: 1em;
  }
}

@media (max-width: 480px) {
  .lines-image-text {
    font-size: 1.5em;
  }
}

@media (max-width: 434px) {
  .blue-square-first {
    display: block;
    bottom:0;
  }

  .product-lines-container1 {
    min-height: 600px;
  }

  .pl-center-text {
    background-color: #005a87;
}

  .h1-pl {
    font-size: 3rem;
    font-weight: 700;
    color: #fff;
}

  .p-pl {
    color: #fff;
    font-weight: 600;
  }

  .blue-square-second {
    display: block;
    bottom:0;
  }

  .product-lines-container2 {
    min-height: 600px;
  }
}

