/* the product */
.item {
  width: 100%;
  max-width: 368px;
  height: auto;
  box-shadow: -11px 13px 16px 6px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}

.container-fixed-small {
  width: 368px;
}

.item-h3 {
  color: #2689a4;
  font-size: 25px;
  font-family: Poppins;
  font-weight: 700;
  word-wrap: break-word;
  line-height: 36px;
}

.item-img {
  width: 96px;
  height: 190px;
}

.top-hr {
  margin-top: 15px;
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.prod-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prod-div :nth-child(1) {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  color: #9e9999;
}

.prod-div :nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.custom-hr {
  margin: 0;
  width: 100%;
  height: 2px;
  background: #d9d9d9;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25);
  border-radius: 19px;
}

.item-footer {
  margin-top: 16px;
  width: 368px;
  height: 200px;
  background: #2689a4;
}

.item-pd {
  padding: 35px;
}

.item-footer-p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.item-footer-btn {
  margin-top: 35px;
  width: 65%;
  height: 40px;
  background: #fff;
  border-radius: 35px;
  color: #2689a4;
  border: #fff;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
  margin-left: 15%;
}