.pvcAl-head {

  }
  
  .pvcAl-img-container {
    position: relative;
  }
  
  .pvcAl-img-h {
    width: 100%;
    height: auto;
  }
  
  .h1-pvcAl-h {
    position: absolute;
    top: 55%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 3.5rem;
  }

  .pvcAl-p {
    position: absolute;
    top: 35%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
  }
  
  .logo-pvcAl {
    position: absolute;
    top: 50%;
    right: 20%;
    transform: translate(50%, -50%);
  }
  
  .p-center-pvcAl {
    text-align: center;
    width: 50%;
    margin: auto;
    font-size: 1.1rem;
    letter-spacing: -0.015em;
    margin-bottom: 100px;
    font-family: "Young Serif", serif;
  }


  .standard {
    display: none;
  }

  .category-image-text {
    color: #fff;
    font-weight: bold;
    font: 1em sans-serif;
    bottom: 5%;
    left: 50%;
  }

  .logo-ferestre-bot {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
  }
  